Repository Grow-Fit/GrowFit-FE, pull requests merged in 2025-04, with the labels that each got.

#8 🔀: main 브랜치와 dev 브랜치 동기화
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/refactoring.md
  .github/ISSUE_TEMPLATE/ui-improvement.md
Labels: 🔀 Merge

#10 🔧: svgr 설정 및 빌드 오류 수정
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/components/common/button/Button.module.scss
Labels: :bug: Bug, :wrench: Config, :arrow_up: Dependencies

#23 Feature/#22 layout
  package.json
  pnpm-lock.yaml
  src/app/error.tsx
  src/app/layout.tsx
  src/app/loading.tsx
  src/app/page.tsx
  src/components/layout/Header.module.scss
  src/components/layout/Header.tsx
  src/components/layout/Layout.module.scss
  src/components/layout/Layout.tsx
  src/components/layout/Navigation.module.scss
  src/components/layout/Navigation.tsx
  src/styles/globals.scss
Labels: :sparkles: Feature, :wrench: Config, :lipstick: UI/UX, :art: Style

#26 ✨ : 헤더, 네비게이션 추가 #24
  src/app/page.tsx
  src/assets/icons/goal.svg
  src/assets/icons/home.svg
  src/assets/icons/index.tsx
  src/assets/icons/meal.svg
  src/assets/icons/mypage.svg
  src/assets/icons/noti.svg
  src/assets/icons/photo_change_btn.svg
  src/assets/icons/profile.svg
  src/components/common/icon/index.tsx
  src/components/layout/Header.module.scss
  src/components/layout/Header.tsx
  src/components/layout/Navigation.module.scss
  src/components/layout/Navigation.tsx
  src/styles/_reset.scss
Labels: :sparkles: Feature, :art: Style
